
@import "common.scss";

input,
button,
a.button,
select,
textarea {
  // Suppress red glow that Firefox adds to form fields by default.
  &:invalid {
    @include box-shadow(none);
  }

  // Add blue glow.
  &:focus {
    @include box-shadow(#06F 0 0 5px 0);
    // for Opera
    z-index: 1;
  }
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
  &:focus,
  &:active {
    @include box-shadow(none);
  }
}

button,
a.button,
input.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  width: auto;
  outline: 0;
  vertical-align: top;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  // Helvetica Neue present, because it works better on OS X.
  font: bold 1em/1.3em "Helvetica Neue", Arial, sans-serif;

  border: 1px solid;
  border-color: #DDD #BBB #999;
  cursor: pointer;
  color: #333;

  -webkit-appearance: none;
  @include background-clip(padding);
  @include background-gradient(white, #DDD);
  @include border-radius(0);

  // Base64 encoded "../images/button.png' with IE7 fallback
  background: #DDD url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAAAAADhgtq/AAAAHElEQVQoz2P8z4ADsOCW+UeGnsFs2nDzz5AMHQA+JRlAyyOraAAAAABJRU5ErkJggg==) repeat-x;
  *background: #DDD image-url("../images/button.png") repeat-x;

  &:hover {
    text-decoration: none;
    @include background-gradient(white, #DDD);
  }

  &:active {
    border-color: #999 #BBB #DDD;
    @include background-gradient(#DDD, #EEE);
    @include box-shadow(rgba(0,0,0,.25) 0 1px 2px 0, true);
  }

  // IE7
  *padding-top: 2px;
  *padding-bottom: 0;

  // Kill phantom spacing and dotted border in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

a.button {
  // IE7
  *padding-bottom: 3px;
}

button {
  // IE7
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  margin: 0;
  padding: 2px 3px;
  // Leaving out Helvetica Neue. Arial is more reliable, on Windows and OS X.
  font-family: Arial, sans-serif;
  font-size: 1em;
  text-align: left;
  height: 1.8em;
  vertical-align: top;

  // IE7
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;

  background-color: white;
  border: 1px solid;
  border-color: #848484 #C1C1C1 #E1E1E1;
  color: black;
  outline: 0;
  -webkit-appearance: none;
  @include box-sizing(border-box);
  @include background-clip(padding);
  @include border-radius(0);

  &[disabled] {
    background-color: #EEE;
  }
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.disabled,
input.disabled {
  color: #888;
  cursor: default;

  @include box-shadow(none);
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: -moz-none;
          user-select: none;
}

// Separate rules for WebKit, Firefox and IE
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder,
textarea.placeholder {
  color: #888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

// Set height back to normal for Opera, WebKit, and IE.
select[size="0"],
select[size="1"] {
  height: 1.8em;
  // IE7
  *height: auto;
}

// Tweaks for Safari + Chrome.
@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    padding-right: 3px;
    background-image: none;
  }

  select,
  select[size="0"],
  select[size="1"] {
    padding-right: 20px;
    // Base64 encoded "../images/arrow.png"
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
  }

  ::-webkit-validation-bubble-message {
    font: 1em/1.3em Arial, sans-serif;
    min-height: 1.3em;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, black));
    border: 0;
    color: white;

    -webkit-box-shadow: none;
            box-shadow: none;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    background: #666;
    border-color: #666;

    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

textarea {
  display: block;
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
  // IE7
  *padding-right: 8px;
}

optgroup {
  font-style: normal;
  font-weight: normal;
  color: black;

  // Kill phantom spacing and dotted in Firefox.
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

// Legacy support for IE6
// note: classes should be added dynamically via JS
* html button,
* html a.button,
* html input.button {
  padding: 2px 10px 0;
  overflow: visible;
  width: auto;
  vertical-align: top;
  text-decoration: none;
  background: #DDD image-url("../images/button.png") repeat-x;
  border: 1px solid;
  border-color: #DDD #BBB #999;
  cursor: pointer;
  color: #333;
}

* html a.button {
  position: relative;
  top: 3px;
  padding-bottom: 2px;
}

* html button,
* html input.button {
  padding-top: 1px;
  padding-bottom: 1px;
}

* html textarea,
* html select,
* html input.input {
  padding: 2px 3px 1px;
  vertical-align: top;
  background: white;
  border: 1px solid;
  border-color: #848484 #C1C1C1 #E1E1E1;
  color: black;
}

* html select {
  margin-top: 1px;
}

.placeholder,
input.disabled,
button.disabled {
  color: #888;
}

input.disabled {
  background: #EEE;
}
