/*! grid.css v0.2.1 | MIT License | git.io/alchemica */

// Grid builder mixin
@mixin grid($prefix, $columns, $gutter) {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: visible !important;
  clear: both;

  @include clearfix();

  & & {
    margin-left: 0 - $gutter;
  }

  .cell {
    @if $columns > 0 {
      float: left;
    }
    margin-right: -100%;
    position: relative;
    min-height: 1px; // Prevent columns from collapsing when empty
    width: 100% - ($gutter * 2);
    margin-left: $gutter;
  }

  $row:   1;
  $cell:  (100% - ($gutter * ($columns + 1))) / $columns;
  $rows:  ();

  @while $row <= $columns {
    $pos:   false;
    $size:  false;
    $last:  $columns + 1 - $row;

    @for $i from 1 through $last {
      $class: unquote('.#{$prefix}-#{$i}-#{$row}');

      @if not $size {
        $size:  ($class);
      }
      @else {
        $size:  append($size, $class, comma);
      }

      $class: unquote('.#{$prefix}-#{$row}-#{$i}');

      @if not $pos {
        $pos:  ($class);
      }
      @else {
        $pos:  append($pos, $class, comma);
      }
    }
    // Cell width
    #{$size} {
      width: ($cell * $row) + ($gutter * ($row - 1));
    }
    // Cell position
    #{$pos} {
      margin-left: ($cell * ($row - 1) + ($gutter * $row));
    }

    // Looping
    $row:   $row + 1;
  }

  @if $columns > 0 {
    // Line break
    .#{$prefix}-break {
      clear: left;
    }
  }


}

// Clearfix mixin
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
